@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

*{
    margin: 0;
    padding: 0;
}

/*Estilos Home*/
.bg-luco {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #e8e4e5;
}

.text-inicio {
    color: #404042;
    font-family: 'Montserrat Alternates', sans-serif;
}

.logo-principal {
    width: 80px;
}

.logo-principal:hover{
    transform: rotate(360deg); scale: (2);
    transition: all 4s;
}
/*Fin Estilos Home*/

/*Estilos Footer*/
.footer-container {
    background-color: #ABDBCA;
    padding: 20px;
    display: flex;
    justify-content:right;
}

.footer {
    background-color: #ABDBCA;
    padding: 20px;
    width: 10%;
    margin-right: 5%;
    display: flex;
    justify-content: space-around;
}

.logo-redes{
    width: 30px;
}
/*Fin Estilos Footer*/


/*Estilos nosotros*/
.text-nosotros{
    color: #404042;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-right: 40px;
}

.text-mienbros {
    color: #404042;
    font-family: 'Montserrat Alternates', sans-serif;
    display: flex;
    justify-content: center; 
}

.mienbros-imagen {
    width: 50%;
}

/*Fin estilos nosotros*/

/*Estilos Productos*/
.product-title {
    color: #404042;
    font-family: 'Montserrat Alternates', sans-serif;
}

.product{
    display: flex;
    justify-content: center;
}

.macetas-portavasos:hover {
    transform: scale(1.2);
}

.macetas-portavasos {
    margin-bottom: 20px;
    transition: all 2s;
}

.paragraph-maceta {
    font-family: 'Montserrat Alternates', sans-serif;
}

/*Fin Estilos Productos*/

/*Estilos Blog*/
.text-cuidados {
    color: #404042;
    font-family: 'Montserrat Alternates', sans-serif;
}

/*Fin de Estilos Blog*/

/*Estilos Contacto*/
.contacto-titulo {
    font-family: 'Montserrat Alternates', sans-serif;
}

.contacto-text{
    color: #404042;
    font-family: 'Montserrat Alternates', sans-serif;
}

.contacto-title {
    color: #404042;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: 30px;
}

.mapa {
    width: 90%;
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
}

.datos-container {
    margin: 10%;
    display: flex;
    justify-content: flex-end;
}

.datos {
    color: #404042;
    font-family: 'Montserrat Alternates', sans-serif;

}
/*Fin estilos Contacto*/