/*Estilos header*/
header {
    background-color: #D7D3D4;
    nav{
        ul{
            
            li{
                a{
                font-family: 'Comfortaa';
                &:hover{
                    background-color:#a6a2a3;
                    }
                }
            }
        }
    }
    @media screen and (max-width:600px){
        background-color:#ABDBCA;
    }

    .logo-principal {
        width: 80px;
    }
    
    .logo-principal:hover{
        transform: rotate(360deg); scale: (1.1);
        transition: all 1s;
    }
}
/*Fin Estilos header*/

