/*Estilos inicio*/
@import '../base/variables';
@import '../base/listas';

.carousel {
    h1{
        font-family: $font-principal;
        color: nth($color-brand, 5);
        @media screen and (max-width:600px){
            color: nth($color-brand, 4);
            }
    }
    p{
        font-family: $font-secundaria;
        font-size: nth($font-size, 2);
        @media screen and (max-width:600px){
            font-size: nth($font-size, 1);
            } 
        color: nth($color-brand, 2);
    }
}
/*Fin Estilos inicio*/
