@import '../base/variables';
@import '../base/listas';

/*Estilos Productos*/

.productos {
    h1{
        font-family: $font-principal;
        color: nth($color-brand, 4);
        @media screen and (max-width:600px){
            color:nth($color-brand, 3);
            }
    }
    p{
        font-family: $font-secundaria;
        color: nth($color-brand, 2);
    }

    .macetas-portavasos:hover {
        transform: scale(1.05);
    }
    
    .macetas-portavasos {
        transition: all 0.5s;
    }


    .flip-card {
        background-color: transparent;   
        height: 500px;
        text-align: center;
    }
  

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
  

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
  

    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
  
 
    .flip-card-back {
        transform: rotateY(180deg);
    }
}

/*Fin Estilos Productos*/